@model IEnumerable<TestStore.Models.Album>
@*@model TestStore.Models.Album*@

@*@using TestStore.Models*@
@{
    ViewBag.Title = "Artist Search";
}


<table class="table table-condensed table-striped">
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
        <input type="text" name="q" id="q" />
        <input type="submit" value="Search" />
    }
    <tr>
        <th>Artist</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.Artist.ArtistName</td>
            <td>@item.Title</td>
            <td>@String.Format("{0:c}", item.Price)</td>
            @*<td>@item.Artist.Albums</td>*@


        </tr>



    }
</table>

